.dx-row.dx-data-row.dx-column-lines.dx-state-hover {
    background-color:#d5d5d5;
}

.dx-button-has-icon .dx-button-content {
    padding: 8px !important;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active {
	background-color:#eeeeee;
}

.ml-1 {
    margin-left: 1rem;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-space-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
    display: block;
}

.bold {
    font-weight: bold;
}

.mb-1{
    margin-bottom: 2rem;
}

.cursor-pointer {
    cursor:pointer
}

.disable-click{
    pointer-events: none;
}

.tab-container{
    border: 1px solid #dddddd;
    padding: 10px;
    margin-left: 0 !important;
    min-height: 350px;
}

.color-red {
    color: #d9534f
}

.color-blue {
    color: #337ab7
}

.color-green {
    color: #5cb85c
}

.color-orange {
    color: #f89406
}
